<!DOCTYPE html>
<html>
<head>
    <title>SUPER CLUB</title>
    <link rel="stylesheet" type="text/css" href="../style/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <img src="../assets/4504439.jpg" alt="logo" width="182px">
                <h1>SUPER CLUB</h1>
            </div>
            
        </div>
        <div class="row">
            <div class="navigation">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="visi.html">Visi dan Misi</a></li>
                    <li><a href="layanan.html">Produk Kami</a></li>
                    <li><a href="kontak.html">Kontak kami</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="sidebar">
                <ul>
                    <li><a href="artikel.html">Artikel</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="galeri.html">Galery Foto</a></li>
                    <li><a href="klien.html">Klien Kami</a></li>
                    <li><a href="#klien">Sign in</a></li>
                    <li><a href="#klien">Sign up</a></li>
                </ul>
            </div>
            <div class="content">
                <div>
                <h1>Selamat datang di halaman "Tentang Kami" Club Motor!</h1></div>
                <p>Kami adalah komunitas yang bersemangat dan berdedikasi untuk menghubungkan para pecinta motor dari seluruh dunia. Sejak didirikan, misi kami adalah menyediakan platform yang memungkinkan penggemar motor untuk terhubung, berbagi pengalaman, dan merayakan kecintaan mereka terhadap dunia motor.</p>
                <p>Di Club Motor, kami memahami bahwa motor bukan sekadar alat transportasi biasa, tetapi juga merupakan simbol kebebasan, petualangan, dan gaya hidup yang unik. Oleh karena itu, kami berkomitmen untuk membantu memperluas dan memperkuat komunitas para penggemar motor, tanpa memandang jenis atau merek motor yang mereka pilih</p>
                <p>Dengan didukung oleh anggota komunitas yang beragam, kami menyediakan berbagai layanan dan fasilitas yang dirancang untuk memenuhi kebutuhan dan minat beragam dari setiap penggemar motor. Mulai dari acara dan kegiatan sosial, hingga diskusi online dan tips perawatan motor, kami berusaha untuk menjadi sumber daya yang berharga bagi semua anggota kami.</p>
                <p>Bergabunglah dengan kami di Club Motor dan jadilah bagian dari komunitas yang bersemangat, berbagi pengetahuan, dan menjelajahi dunia motor bersama-sama. Kami tidak sabar untuk bertemu dan berbagi pengalaman dengan Anda!</p>
                <p>Terima kasih telah memilih Club Motor sebagai tempat untuk menghidupkan semangat motor Anda. Bersama, mari kita rayakan kebebasan, petualangan, dan persaudaraan yang hanya dapat ditemukan di dunia motor.</p>
                <h1>Salam, tim Club Motor.</h1>
            </div>
        </div>
    </div>
</body>
    