<!DOCTYPE html>
<html>
<head>
    <title>SUPER CLUB</title>
    <link rel="stylesheet" type="text/css" href="../style/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <img src="../assets/4504439.jpg" alt="logo" width="182px">
                <h1>SUPER CLUB</h1>
            </div>
            
        </div>
        <div class="row">
            <div class="navigation">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="visi.html">Visi dan Misi</a></li>
                    <li><a href="layanan.html">Produk Kami</a></li>
                    <li><a href="kontak.html">Kontak kami</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="sidebar">
                <ul>
                    <li><a href="artikel.html">Artikel</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="galeri.html">Galery Foto</a></li>
                    <li><a href="klien.html">Klien Kami</a></li>
                    <li><a href="#klien">Sign in</a></li>
                    <li><a href="#klien">Sign up</a></li>
                </ul>
            </div>
            <div class="content">
                <div>
                <h1>Pelayanan Club :</h1></div>
                <p>1. Keanggotaan Club Motor</p>
                <p>2. Acara dan Kegiatan Komunitas</p>
                <p>3. Informasi dan Berita Terkini</p>
                <p>4. Layanan Teknis dan Bantuan</p>
                <p>5. Keanggotaan Premium</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</body>
    