<!DOCTYPE html>
<html>
<head>
    <title>SUPER CLUB</title>
    <link rel="stylesheet" type="text/css" href="../style/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <img src="../assets/4504439.jpg" alt="logo" width="182px">
                <h1>SUPER CLUB</h1>
            </div>
            
        </div>
        <div class="row">
            <div class="navigation">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="visi.html">Visi dan Misi</a></li>
                    <li><a href="layanan.html">Produk Kami</a></li>
                    <li><a href="kontak.html">Kontak kami</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="sidebar">
                <ul>
                    <li><a href="artikel.html">Artikel</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="galeri.html">Galery Foto</a></li>
                    <li><a href="klien.html">Klien Kami</a></li>
                    <li><a href="#klien">Sign in</a></li>
                    <li><a href="#klien">Sign up</a></li>
                </ul>
            </div>
            <div class="content">
                <div>
                <h1>Pegalaman</h1></div>
                <p>1. Persahabatan dan Persaudaraan: Bergabung dengan Club Motor tidak hanya tentang motor, tetapi juga tentang membangun persahabatan dan persaudaraan dengan orang-orang yang memiliki minat yang sama. Ini adalah pengalaman yang memperkaya dan memperluas lingkaran sosial Anda</p>
                <p>2. Petualangan dan Keseruan: Melalui perjalanan dan acara komunitas, anggota Club Motor dapat mengalami petualangan dan keseruan yang tidak terlupakan. Dari perjalanan jarak jauh hingga acara balap dan pameran motor, ada banyak kesempatan untuk merasakan kegembiraan dunia motor</p>
                <p>3. Pendidikan dan Pembelajaran: Club Motor juga merupakan tempat untuk belajar dan berkembang sebagai pengendara motor. Dari kelas dan workshop hingga pengalaman lapangan, ada banyak kesempatan untuk meningkatkan keterampilan berkendara Anda dan memahami lebih dalam tentang motor</p>
                <p>4. Kontribusi pada Komunitas: Melalui kegiatan amal dan proyek sosial, Club Motor memberikan kesempatan bagi anggotanya untuk berkontribusi pada komunitas mereka. Ini adalah cara yang baik untuk memberikan kembali dan merasa terhubung dengan orang-orang di sekitar</p>
            </div>
        </div>
    </div>
</body>
    