<!DOCTYPE html>
<html>
<head>
    <title>SUPER CLUB</title>
    <link rel="stylesheet" type="text/css" href="../style/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="header">
                <img src="../assets/4504439.jpg" alt="logo" width="182px">
                <h1>SUPER CLUB</h1>
            </div>
            
        </div>
        <div class="row">
            <div class="navigation">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="visi.html">Visi dan Misi</a></li>
                    <li><a href="layanan.html">Produk Kami</a></li>
                    <li><a href="kontak.html">Kontak kami</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="sidebar">
                <ul>
                    <li><a href="artikel.html">Artikel</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li><a href="galeri.html">Galery Foto</a></li>
                    <li><a href="klien.html">Klien Kami</a></li>
                    <li><a href="#klien">Sign in</a></li>
                    <li><a href="#klien">Sign up</a></li>
                </ul>
            </div>
            <div class="content">
                <div>
                <h1>Visi</h1></div>
                <p>Menjadi komunitas terdepan yang menyatukan para pecinta motor dari berbagai latar belakang, mewujudkan semangat persaudaraan, petualangan, dan kebebasan dalam dunia motor.</p>
                <div>
                <h1>Misi</h1></div>
                <p>1. Menyediakan platform yang memungkinkan para penggemar motor untuk terhubung, berbagi pengalaman, dan membangun hubungan yang kokoh di antara sesama anggota komunitas.</p>
                <p>2. Mendorong apresiasi dan pemahaman yang lebih dalam terhadap budaya motor, baik melalui acara-acara sosial, diskusi, maupun kegiatan promosi yang edukatif.</p>
                <p>3. Memberdayakan anggota komunitas dengan pengetahuan dan keterampilan yang diperlukan untuk merawat dan menjaga motor mereka, serta meningkatkan kesadaran akan keselamatan berkendara</p>
                <p>4. Mendorong inovasi dan kreativitas dalam desain, teknologi, dan gaya hidup seputar motor, serta memberikan wadah bagi para penggemar motor untuk berbagi ide dan proyek mereka</p>
            </div>
        </div>
    </div>
</body>
    